body{
  background-color: rgb(93, 196, 196);
}

ul{
  size: 80px;
  background-color: rgb(28, 95, 238);
  display: flex;
  justify-content: space-evenly;
}
a{
  color: rgb(240, 240, 240);
  text-decoration: none;
}
a:hover{
  background-color: rgb(9, 187, 119);
}

h1{
  margin-left: 50%;
}
.login{
  height: 100px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50%;
  margin-top: 300px;
}
.login a{
  color: blue;
}

